/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
 }

 body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 ul {
  list-style: none;
  padding: 0;
 }

 li {
  display: flex;
 }

 a:link {
  text-decoration: none;
 }

 .button {
  color: white;
  background-color: rgb(150, 223, 24);
  padding: 5px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
 }

 .button a:link {
  color: white;
 }

 .button a:visited {
  color: rgb(244, 244, 244);
}

.details {
  background-color: rgb(252, 255, 176);
  width: 300px;
  padding: 30px;
}
